.SideNav-container {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
}

.SideNav-title {
  margin: 40px 20px 0 10px;
}
.SideNav-Link {
  font-size: 18px;
  margin: 10px;
}

.SideNav-Link a {
  color: #336699;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  padding: 4px 0 4px 10px;
  display: inline-block;
  width: 100%;
}

.SideNav-Link a:hover, .SideNav-Link.selected {
  border-left: 2px solid #336699;
  background-color: #d3dfea; /* #f4f8fb; */
}

.SideNav-Link.selected a, .SideNav-Link.selected a:hover {
  border: none;
}

.SideNav-Link a:focus {
  outline: 0; /* thin dotted; */
}
