.PostView-container {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.PostView-container > div {
  display: flex;
  width: 100%;
}

.PostView-container h3 {
  margin-top: 0;
}

.PostView-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.PostView-container a {
  color: #336699;
  text-decoration: none;
  letter-spacing: 1px;
}

.PostView-container a:hover {
  text-decoration: underline;
}

.PostView-description {
  font-size: 16px;
  padding: 8px 0;
}

.PostView-detail {
  font-size: 14px;
  padding-bottom: 2px;
}

.PostView-button {
  border: 1px solid #2566a7;
  background-color: transparent;
  color: #336699;
  font-size: 14px;
  border-radius: 2px;
  margin-right: 10px;
  text-decoration: none;
  padding: 2px 5px;
}

.PostView-button:hover, a.PostView-button:hover {
  background-color: #2566a7;
  color: white;
  text-decoration: none;
}

.PostView-author {
  font-weight: bold;
  color: #2566a7;
}

a.PostView-link {
  font-weight: bold;
  text-decoration: underline;
  color: #2566a7;
}
